<!-- your html code here -->
<p>Hello, I'm contact.html</p>

<div class="container" id="contact">
  <div class="row">
    <h3>Contact</h3>
  </div>
  <div class="row">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maxime beatae reiciendis voluptatibus facilis
      blanditiis minima tempora asperiores repudiandae sunt adipisci doloremque atque libero quos, totam, mollitia
      impedit ipsum accusamus.</p>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..."
          rows="3"></textarea>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>