<!-- your html code here -->
<div class="container-fluid justify-container-center">
    <div>
        <h3>Portafolio</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, fugit nulla. Natus quia consequuntur accusamus autem nesciunt beatae fugit magnam? Dolores suscipit doloremque sint, assumenda deserunt voluptatem adipisci accusantium cum?</p>
    </div>
    <div class="d-flex justify-container-center">
        <div class="card" style="width: 18rem;">
            <img src="https://placehold.co/700x400" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto recusandae ipsam nisi incidunt quos est rerum nemo delectus tempore quisquam non minus, quo error, veniam nobis animi modi quia. Delectus?</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://placehold.co/700x400" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://placehold.co/700x400" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>
