
            <div class="tagline mb-5">
                <div class="py-5 my-5 text-center">
                    <img class="img-fluid d-block mx-auto mb-4">
                    <h1 class="display-1 justify-content-center"><b>One page wonder</b></h1>
                    <div class="col-lg-12 mx-auto">
                    <p class="display-6 mb-4"><b>Will Knock Yours Socks Off</b></p>
                    <button type="button" class="btn btn-primary px-4 gap-3">Descubrir</button>
                    </div>
                  </div>
            </div>